<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>

<div style="text-align: center;">
    <h1>User Profile</h1>
    <img src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg" alt="Profile Picture">
    <p>Raghuvendra malhotra</p>
    <p>I love bucketly app</p>
    <img src="https://miro.medium.com/v2/resize:fit:1200/1*wLCHEekWiQAj-Q-Fg_8zcg.jpeg" alt="Another Image">
    <p>Additional Image Description</p>
    <p>Contact Information</p>
</div>

</body>
</html>
